{% extends 'base.html' %}

{% block 'content' %}

    <header class="page-header">
        <h1>Questões</h1>
    </header>

    <div class="row">
        <div class="col-md">
            <table class="table">
                <thead>
                    <th scope="col">ID</th>
                    <th scope="col">Questão</th>
                    <th scope="col">Resultado</th>
                </thead>
                <tbody>
                    {% for question in questions %}
                        <tr>
                            <th scope="row">{{ question.id }}</th>
                            <td><a href="question/{{question.id}}">{{ question.question_text }}</a></td>
                            <td>
                                {%if question.closed%}
                                    <a href="question/{{question.id}}/result">
                                        Ver
                                    </a>
                                {% else %}
                                    <span>ABERTA</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}